a {
  font-family: 'Merriweather', serif;
  margin: 10px 15px;
  text-decoration: none;
}

a:hover {
  color: #0f4c75;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #f9f7f7;
}

hr {
  border: dotted;
  border-bottom: none;
  border-right: none;
  border-left: none;
  color: #d8d3cd;
  height: 6px;
  margin: 75px auto;
  width: 3%;
}

h1 {
  color: #112d4e;
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  font-family: 'Dancing Script', cursive;
}

h2 {
  color: #112d4e;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #3f72af;
  font-family: 'Nunito Sans', sans-serif;
}

p {
  line-height: 2;
}

.top-container {
  position: relative;
  padding-top: 100px;
  padding-bottom: 200px;
}

.middle-container {}

.bottom-cloud {
  position: absolute;
  left: 20%;
  bottom: 520px;
}

.bottom-container {
  margin-top: 40px;
}

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Merriweather', serif;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.code-img {
  float: left;
  margin-right: 30px;
  width: 25%;
  padding-bottom: 150px;
}

.contact-btn {}

.copyright {
  font-size: 0.75rem;
  padding: 20px 0;
}

.contact-me {}

.computer-img {
  float: right;
  margin-left: 30px;
  width: 25%;
  padding-bottom: 90px;
}

.footer-contact{
  padding-top: 10px;
  margin-top: 0;
}

.footer-link{
  margin: auto;
  padding-right: 1%;
}

.intro {
  width: 30%;
  margin: auto;
}

.mountain-img {
  position: relative;
  top: 105px;
  width: 40%;
}

.pro {
  text-decoration: underline;
}

.project-row {
  width: 50%;
  margin: 115px auto 115px auto;
}

.skill-row {
  width: 50%;
  margin: 115px auto 115px auto;
}

.top-cloud {
  position: absolute;
  top: 40px;
  right: 20%;
}
